{% load url from future %}
{% load fiber_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>СУВИТ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="http://yandex.st/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="../assets/ico/favicon.ico">

    <style type="text/css">
    {% block styleextra %}
    {% endblock %}
    </style>

    {% block headextra %}
    {% endblock %}
  </head>

  <body>
    {% block body %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <a class="brand" style="margin: 0 5px;" href="/"><img src="/static/atwork/images/suvit-logo-small.jpg" alt="СУВИТ. Beta"></a>
          {% if user.is_authenticated %}
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ user.username }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'userena_profile_detail' user.username %}">Профиль</a></li>
              <li><a href="{% url 'userena_profile_list' %}">Другие</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'userena_signout' %}">Выход</a></li>
            </ul>
          {% else %}
          <div class="nav-collapse pull-right">
            <ul class="nav">
              <li><a href="{% url 'userena_signin' %}">Войти</a></li>
              <li><a href="{% url 'userena_signup' %}">Регистрация</a></li>
            </ul>
          {% endif  %}
          </div>
          <div class="nav-collapse">
            {% show_menu "Suvit" 1 1 %}
          </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid" style="margin-top: 50px;">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              {% if user.is_authenticated %}
                <li><a href="#">Личный кабинет</a></li>
              {% endif %}
              <li><a href="#">Интернет-магазин</a></li>
              <li><a href="#">Заявка</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          {% block content %}
          <div class="hero-unit">
            <h1>{% block content_title %}{% if fiber_page.title %}{{fiber_page.title}}{% else %}Привет, друг!{% endif %}{% endblock %}</h1>
            {% show_page_content 'content_main' %}
          </div>
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; СУВИТ 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <script src="http://yandex.st/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://yandex.st/bootstrap/2.3.1/js/bootstrap.min.js"></script>
    {% endblock %}

{% block counters %}
  {% include 'metrika.html' %}
{% endblock %}
  </body>
</html>
