{% load url from future %}
{% load fiber_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Современный Уральский В? Интеллектуальных технологий</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/static/bootstrap/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

    <style type="text/css">
    {% block styleextra %}
    {% endblock %}
    </style>

    {% block headextra %}
    {% endblock %}
  </head>

  <body>
    {% block body %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Современный Уральский В? Интеллектуальных Технологий. Beta</a>
          {% if user.is_authenticated %}
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> {{ user.username }}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'userena_profile_detail' user.username %}">Профиль</a></li>
              <li><a href="{% url 'userena_profile_list' %}">Другие</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'userena_signout' %}">Выход</a></li>
            </ul>
          {% else %}
          <div class="nav-collapse pull-right">
            <ul class="nav">
              <li><a href="{% url 'userena_signin' %}">Войти</a></li>
              <li><a href="{% url 'userena_signup' %}">Регистрация</a></li>
            </ul>
          {% endif  %}
          </div>
          <div class="nav-collapse">
            {% show_menu "Suvit" 1 1 %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Личный кабинет</li>
              {% if user.is_authenticated %}
                <li><a href="{% url 'userena_profile_detail' user.username %}">Профиль</a></li>
              {% else %}
                <li><a href="{% url 'userena_signup' %}">Регистрация</a></li>
              {% endif %}
              <li><a href="#">Заявка</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          {% block content %}
          <div class="hero-unit">
            <h1>{% block content_title %}{% if fiber_page.title %}{{fiber_page.title}}{% else %}Привет, друг!{% endif %}{% endblock %}</h1>
            {% show_page_content 'content_main' %}
          </div>
          {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; СУВИТ им. Сафроновича В.Ю. 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/atwork/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    {% endblock %}

{% block counters %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter17288095 = new Ya.Metrika({id:17288095, enableAll: true, webvisor:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/17288095" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endblock %}
  </body>
</html>
