django>=1.4
Unipath
PyYAML
django-userena
git+https://github.com/suvit/django-knowledge.git
django-fiber
django-sendsmsru

#production
git+https://github.com/suvit/django-mailer.git#egg=django-mailer
south
raven